@import './assets/img/font/font.scss';

$text-font: "Lora", serif;

html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(".././assets/img/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.img {
    height: 100%;
    width: 100%;
    
    
}

.search {
    width: 100%;
    position: sticky;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    &__logo {
        display: flex;
        &_img {
            width: 100px;
            height: 100px;
        }
        &_text {
            font-family: "Adena";
            font-weight: 500;
            font-style: normal;
            font-size: 5vh;
            color: #1B1212; 
        }
    }
}

.footer {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        height: 100%;
        width: 16vh;
    }

    &__title {
        font-family: $text-font;
        font-weight: 400;
        font-style: normal;
        font-size: 3vh;
        color: #1B1212;
    }
}