/* Webfont: AdenaDemo-Regular */@font-face {
    font-family: 'AdenaDemo';
    src: url('AdenaDemo-Regular.eot'); /* IE9 Compat Modes */
    src: url('AdenaDemo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AdenaDemo-Regular.woff') format('woff'), /* Modern Browsers */
         url('AdenaDemo-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AdenaDemo-Regular.svg#AdenaDemo-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

