@font-face {
    font-family: "Georgia";
    src: local("georgia"),
      local("georgiat"),
      url("/fonts/georgia/georgia-regular.ttf") format("ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Arial";
    src: local("arial"),
      local("arial"),
      url("/fonts/arial/arial-regular.ttf") format("ttf");
    font-weight: normal;
  }