.courusel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courusel__button_arrow {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 50%;
    border:  2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.courusel__ribbon {
    width: 990px;
    height: 435px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.courusel__ribbon_item {
    background-color: var(--color-light-s);
    border-radius: 9px;
    height: 100%;
    width: 270px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.courusel__ribbon_item_img {
    height: 270px;
    width: 270px;
    overflow: hidden;
}

.courusel__ribbon_item_name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin-left: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.courusel__ribbon_item_button {
    background-color: transparent;
    width: 187px;
    border:  2px solid var(--color-primary);
    margin-bottom: 30px;
}

.courusel__button {
    width: 261px;
}