.courusel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courusel__button_arrow {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 50%;
    border:  2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.courusel__ribbon {
    width: 990px;
    height: 435px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.courusel__ribbon_pets {
    padding-top: 15px;
    width: 1200px;
    height: 930px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(4, 435px);
    column-gap: 40px;
    row-gap: 30px;
}

.courusel__ribbon_item {
    background-color: var(--color-light-s);
    border-radius: 9px;
    height: 435px;
    width: 270px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
    transform: translateY(0);
    transition: 0.5s ease-out;
}

.courusel__ribbon_item:hover {
    transform: translateY(-20px);
}

.courusel__ribbon_item_img {
    height: 270px;
    width: 270px;
    overflow: hidden;
}

.courusel__ribbon_item_name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin-left: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.courusel__ribbon_item_button {
    background-color: transparent;
    width: 187px;
    border:  2px solid var(--color-primary);
    margin-bottom: 30px;
    background: linear-gradient(to left, var(--color-light-l) 50%, var(--color-primary) 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}

.courusel__ribbon_item_button:hover {
    background-position: left;
}

.courusel__button {
    width: 261px;
}

.courusel__pages {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.courusel__pages_number {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}