.header {
    width: 100%;
    background: url("./pictures/header.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__container {
    padding-top: 30px;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-between;
    min-height: 60px;
    gap: 10px;
}

.header__title_large {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.header__title_small {
    margin: 0;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.6px;
    color: var(--color-light-xl);
}

.header__navigation_list {
    margin: 0;
    width: 443px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header__navigation_item {
    margin: 0;
    font-family: "Arial";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-s);
    text-decoration: none;
}







