@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    /*background-image: url("./assets/img/numbBackground.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    height: 82vh;
}

.container {
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
}

.player {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 22vw;
    height: 65vh;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    border-radius: 7%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.player__img {
    width: 100%;
    height: 60%;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.player__song {
    margin: 0;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 3vh;
    color: #F9F6EE;
}

.player__singer {
    margin: 0;
    font-family: "Lora", serif;
    font-weight: 300;
    font-size: 2.5vh;
    color: #F9F6EE;
}

.player__progress {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1vh 3vh;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #202639;
    cursor: pointer;
    height: 0.5vh;
    width: 20vw;
    grid-column: 1 / span 2;
    grid-row: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background-color: #E9DCC9;
    width: 1vw;
    height: 1vw; 
    border-radius: 50%;   
}

input[type="range"]:focus{
    outline:none;
  }

 .currentTime {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2vh;
    font-style: normal;
    align-self: end;
    color: #E9DCC9;
    grid-column: 1;
    grid-row: 2;
 }

 .durationTime {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2vh;
    font-style: normal;
    justify-self: end;
    align-self: end;
    color: #E9DCC9;
    grid-column: 2;
    grid-row: 2; 
 }

.player__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
}

.player__buttons_arrow {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #E9DCC9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.player__buttons_arrow:hover {
    background-color: #FAF9F6;
}

.pause {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.player__buttons_right {
    fill: #E9DCC9;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.player__buttons_left {
    fill: #E9DCC9;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.player__buttons_right:hover {
    fill: #FAF9F6;
}

.player__buttons_left:hover {
    fill: #FAF9F6;
}

.container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__img {
    height: 100%;
    width: 16vh;
}

.footer__title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: #1B1212;
}

@media screen and (max-width: 990px) and (min-width: 650px) {
    .player {
        width: 30vw;
        height: 65vh;
    }

    input[type="range"] {
        width: 27vw;
    }
}
