@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    /*background-image: url("./assets/img/numbBackground.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    height: 80vh;
}

.container {
    max-width: 1900px;
    overflow: hidden;
    margin: 0 auto;
}

.player {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 17vw;
    height: 550px;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    border-radius: 7%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.player__img {
    width: 100%;
    height: 60%;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.player__song {
    margin: 0;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 3vh;
    color: #F9F6EE;
}

.player__singer {
    margin: 0;
    font-family: "Lora", serif;
    font-weight: 300;
    font-size: 2.5vh;
    color: #F9F6EE;
}

.player__progress {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1vh 3vh;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #202639;
    cursor: pointer;
    height: 0.5vh;
    width: 15vw;
    grid-column: 1 / span 2;
    grid-row: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background-color: #E9DCC9;
    width: 1vw;
    height: 1vw; 
    border-radius: 50%;   
}

input[type="range"]:focus{
    outline:none;
  }

 .currentTime {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2vh;
    font-style: normal;
    align-self: end;
    color: #E9DCC9;
    grid-column: 1;
    grid-row: 2;
 }

 .durationTime {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2vh;
    font-style: normal;
    justify-self: end;
    align-self: end;
    color: #E9DCC9;
    grid-column: 2;
    grid-row: 2; 
 }

.player__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
}

.player__buttons_arrow {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #E9DCC9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.player__buttons_arrow:hover {
    background-color: #FAF9F6;
}

.pause {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.player__buttons_right {
    fill: #E9DCC9;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.player__buttons_left {
    fill: #E9DCC9;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.player__buttons_right:hover {
    fill: #FAF9F6;
}

.player__buttons_left:hover {
    fill: #FAF9F6;
}

.container__footer {
    padding: 0vh 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__img {
    height: 100%;
    width: 16vh;
}

.footer__title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: #1B1212;
}

@media screen and (max-width: 1700px) and (min-width: 1351px) {
    .player {
        width: 23vw;
    }

    input[type="range"] {
        width: 20vw;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1231px) {
    .player {
        width: 26vw;
    }

    input[type="range"] {
        width: 22vw;
    }
}

@media screen and (max-width: 1230px) and (min-width: 1091px) {
    .player {
        width: 28vw;
    }

    input[type="range"] {
        width: 26vw;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 1.5vw;
        height: 1.5vw; 
    }
}

@media screen and (max-width: 1091px) and (min-width: 901px) {
    .player {
        width: 30vw;
    }

    input[type="range"] {
        width: 27vw;
    }

    .footer__img {
        width: 14vh;
    }

    .footer__title {
        font-size: 2vh;
    }

    .player__buttons_arrow {
        width: 3.8vw;
        height: 3.8vw;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 1.5vw;
        height: 1.5vw; 
    }
}

@media screen and (max-width: 901px) and (min-width: 851px) {
    .player {
        width: 34vw;
    }

    input[type="range"] {
        width: 31vw;
    }

    .footer__img {
        width: 14vh;
    }

    .footer__title {
        font-size: 2vh;
    }

    .player__buttons_arrow {
        width: 4vw;
        height: 4vw;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 1.5vw;
        height: 1.5vw; 
    }
}

@media screen and (max-width: 850px) and (min-width: 801px) {
    .player {
        width: 38vw;
    }

    input[type="range"] {
        width: 35vw;
    }

    .footer__img {
        width: 12vh;
    }

    .footer__title {
        font-size: 1.5vh;
    }

    .player__buttons_arrow {
        width: 4vw;
        height: 4vw;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 2vw;
        height: 2vw; 
    }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
    main {
        height: 85vh;
    }

    .player {
        top: 38%;
    }

    .player {
        width: 42vw;
    }

    input[type="range"] {
        width: 39vw;
    }

    .footer__img {
        width: 10vh;
    }

    .footer__title {
        font-size: 1.5vh;
    }

    .player__buttons_arrow {
        width: 5vw;
        height: 5vw;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 2vw;
        height: 2vw; 
    }
}

@media screen and (max-width: 699px) and (min-width: 320px) {
    main {
        height: 85vh;
    }

    .player {
        top: 38%;
    }

    .player {
        width: 300px;
    }

    .img {
        height: 100%;
        width: 100%;
    }

    input[type="range"] {
        width: 280px;
    }

    .footer__img {
        width: 8vh;
    }

    .footer__title {
        font-size: 1.5vh;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 10px;
        height: 10px; 
    }

    .player__buttons_arrow {
        width: 9vw;
        height: 9vw;
    }
}
